# Telegram Bot Configuration
BOT_TOKEN=your_telegram_bot_token_from_botfather
ADMIN_ID=your_telegram_numeric_id
MONGODB_URI=mongodb+srv://username:password@cluster0.mongodb.net/gemini_shop?retryWrites=true&w=majority

# Product & Support
PRODUCT_NAME=Gemini Pro 18 Months
PRODUCT_PRICE=300
PORT=3000
SUPPORT_USERNAME=your_telegram_username

# Payment Accounts
CBE_ACCOUNT=1000XXXXXXXX
CBE_NAME=YOUR FULL NAME
TELEBIRR_ACCOUNT=09XXXXXXXX
TELEBIRR_NAME=YOUR FULL NAME
